main h2{
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
}
.intro p{
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
}
input{
    display: block;
    width: 80%;
    height: 30px;
    border-radius: 20px;
}
textarea{
    display: block;
    resize: none;
    border-radius: 10px;
    border: 2px solid black;
}
form{
    width: 100%;
    max-width: 600px;
}
.main{
    background-color: #D9D9D9;
    width: 90vw;
    padding: 20px;
    border-radius: 20px;
    max-width: 100vw;
    margin: 40px;
    box-shadow: 2px 4px 8px grey;
}
iframe{
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 20% auto;
    outline: 5px solid black;
    border-radius: 20px;
}
article h3{
    background-color: #a19d9d;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px grey;
    width: auto;
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
}
article p{
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px grey;
    width: auto;
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
}
button{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    background-color: #E10600;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #790703;
}
