/*hero */
#hero{
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: #0F0F0F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    font-size: 2.5rem;
}   
.right img{
    width: 800px;
}

.em {
    color: #E10600;
}

/*section template */
section h2{
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
}

section{
    background-color: #F5F5F5;
    margin: 0;
    width: 100vw;
}
/* video section */

#video .container{
    display: flex;
    justify-content: center;
}
#video video{
    width: 50%;
}
section .main{
    display: flex; 
    align-items: center;
    justify-content: space-around;
}
/* article */
#why_choose_us article{
    background-color: #D9D9D9;
    width: 300px;
    padding: 20px;
    height: 275px;
    border-radius: 20px;
    max-width: 100vw;
    margin: 40px;
    box-shadow: 2px 4px 8px grey;
}
article h3{
    font-weight: bolder;
    text-align: center;
}

article p {
    font-size: 1.2rem;
}
#explore article{
    background-color: #D9D9D9;
    width: 300px;
    padding: 20px;
    height: 450px;
    border-radius: 20px;
    max-width: 100vw;
    margin: 40px;
    box-shadow: 2px 4px 8px grey;
    width: 400px;
    line-height: 1.5;
    
}

#testimonials p{
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 8px grey;
    width: auto;
    max-width: 50%;
    line-height: 1.5;
    text-align: center;
    margin: 30px auto 30px auto;
}
label{
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    text-align: center;
}
meter {
  width: 80%;
  height: 25px;
  appearance: none;
  background-color: #D9D9D9; 
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
  color: #0F0F0F; 
}

meter::-webkit-meter-bar {
  background: #D9D9D9;
  border-radius: 12px;
}

meter::-webkit-meter-optimum-value {
  background: green; 
  border-radius: 12px 0 0 12px;
}





