main h2{
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
}
article{
    background-color: #D9D9D9;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 2px 4px 8px grey;
}
article h3{
    font-weight: bolder;
    text-align: center;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
table{
    width: 90%;
    border-collapse: collapse;
    font-family: sans-serif;
    color: #0F0F0F;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 2px 4px 8px grey;
    margin: 20px auto;
}
table thead{
    background-color: #D9D9D9;
    color: #0F0F0F;
    text-align: left;
}
caption{
    margin-bottom: 15px;
}
th, td{
    padding: 10px;
}
