body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F5F5F5;
}
/* styling nav bar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1000;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    border: none;
    height: 3px;
    background-color: #D9D9D9;
    margin: 30px;
}
.brand h1{
    display: inline;
}

nav p{
    display: inline;
    margin:10px;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}
nav a:hover{
    color: #D9D9D9;
}
.red_bg {
    background-color: #E10600;
}
.current{
    text-decoration: underline;
    color: darkgrey;
}
/* styling footer */
footer{
    background-color: #0F0F0F;
    color: #FFFFFF;
    padding: 10px;
    font-size: 1rem;
}

#main_foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main_foot div{
    color: #D9D9D9;
    padding: 20px;
    border-right: 3px solid gray;
    margin: auto;
}
#main_foot #brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand h2{
    display: inline;
}
#copyright a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
}
#copyright a:hover{
    color: #D9D9D9;
}
/* button */
.btn{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E10600;
    padding: 15px;
    border-radius: 5px; 
    margin-top: 50px;
    transition: transform 0.7s ease;
}
.btn:hover{
    background-color: #790703;
}
.em {
    color: #E10600;
}