main h2{
    font-size: 2.8rem;
    font-weight: bolder;
    text-align: center;
}
.main .main_content .half{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main_content article{
    background-color: #D9D9D9;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 2px 4px 8px grey;
}
.main_content article img{
    height: 250px;
    margin: auto;
    border: 4px solid black;
    border-radius: 40px;
}
.main_content article h3{
    font-weight: bolder;
    text-align: center;
}
